﻿@model UkadTask.Models.RequestTimeModel
@{
    ViewBag.Title = "Performance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Model.URL<br />
@Model.AveregeTime<br />
@Model.MaxValue<br />
@Model.MinValue<br />

<h2>Performance</h2>
<table>
    <tr>
        <td>URL</td>
        <td>Time</td>
    </tr>
    @foreach (var t in Model.Results)
    {
        <tr>
            <td>@t.Page</td>
            <td>@t.Time</td>
        </tr>
    }
</table>