﻿@model IEnumerable<UkadTask.Entities.Site>

@{
    ViewBag.Title = "RequestList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RequestList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SitePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfRequest)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SitePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfRequest)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.SiteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SiteId })
        </td>
    </tr>
}

</table>
